---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Download blendOS">

    <div class="bg-white">
        <main class="mx-auto w-full max-w-7xl px-6 pb-16 pt-10 sm:pb-24 lg:px-8">

            <div class="mx-auto mt-20 max-w-2xl text-center sm:mt-24">
                <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">blendOS v4 Alpha</h1>
                <p class="mt-4 text-base leading-7 text-gray-600 sm:mt-6 sm:text-lg sm:leading-8">The upcoming immutable, atomic and declarative release of blendOS, in alpha. (requires a running Arch Linux system)</p>
            </div>
            <div class="mx-auto flow-root max-w-lg">
                <div class="mt-10 flex justify-center">
                    <a href="https://blog.blendos.co/blendos-v4-alpha" class="rounded-md border border-black bg-black px-3.5 py-2.5 text-center text-sm font-nunito text-white shadow-sm hover:bg-white hover:text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
                        <span aria-hidden="true">&rarr;</span>
                        Check it out
                    </a>
                </div>
            </div>

            <div class="mx-auto mt-20 max-w-2xl text-center sm:mt-24">
                <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">blendOS v3</h1>
                <p class="mt-4 text-base leading-7 text-gray-600 sm:mt-6 sm:text-lg sm:leading-8">The current immutable and atomic version of blendOS.</p>
            </div>
            <div class="mx-auto flow-root max-w-lg">
                <div class="mt-10 flex justify-center">
                    <a href="https://docs.blendos.co/docs/installation/normal-pc#mirror-list" class="rounded-md border border-black bg-black px-3.5 py-2.5 text-center text-sm font-nunito text-white shadow-sm hover:bg-white hover:text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
                        <span aria-hidden="true">&rarr;</span>
                        Check it out
                    </a>
                </div>
            </div>
        </main>

    </div>


</Layout>