---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Logos from '../components/Logos.astro';
import Features from '../components/Features.astro';
import Testimonial from '../components/Testimonial.astro';
import Pricing from '../components/Pricing.astro';
import FAQ from '../components/Faq.astro';
import CTA from '../components/CTA.astro';
---

<Layout title="blendOS">

    <!-- Hero section -->
    <Hero/>
    <!-- Logo cloud -->
    <Logos/>
    <!-- Feature section -->
    <Features/>
    <!-- FAQs -->
    <FAQ/>
    <!-- CTA section -->
    <CTA/>

</Layout>
