---
interface Props {
    title: string;
    body: string;
    href: string;
}

const {href, title, body} = Astro.props;
---

<div class="bg-white">
    <div class="mx-auto max-w-7xl divide-y divide-gray-900/10 px-6 py-32 lg:px-8">
        <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">Frequently asked questions</h2>

        <dl class="mt-10 space-y-8 divide-y divide-gray-900/10">

            <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">
                    Which distribution is blendOS based on?
                </dt>
                <dd class="mt-4 lg:col-span-7 lg:mt-0">
                    <p class="text-base leading-7 text-gray-600">
                        blendOS uses Arch Linux for its base system.
                    </p>
                </dd>
            </div>

            <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
                <dt class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5">
                    Can packages from distributions clash?
                </dt>
                <dd class="mt-4 lg:col-span-7 lg:mt-0">
                    <p class="text-base leading-7 text-gray-600">
                        No, containers prevent them from conflicting with one another.
                    </p>
                </dd>
            </div>

        </dl>
    </div>
</div>
