---
interface Props {
}

import { Icon } from 'astro-icon'

const {} = Astro.props;
---

<div class="mx-auto mt-12 max-w-7xl px-6 sm:mt-32 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base font-semibold leading-7">
            <span class="bg-black text-white px-4 py-1 rounded-full">Efficient, yet elegant.</span>
        </h2>
        <p class="mt-2 text-3xl font-roboto tracking-tight text-gray-900 sm:text-4xl">
            All you need in a powerful, minimal system.
        </p>
        <p class="mt-6 text-lg leading-8 font-nunito text-gray-600">
            blendOS keeps everything simple, delivering on application and game compatibility
            from various sources while offering a lightweight atomic & declarative Arch system.
            Just double-click an APK, DEB or RPM to install it.
        </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
            <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 pl-1 pr-1 items-center justify-center rounded-lg bg-black fg-white">
                        <Icon name="tabler:apps" color="#fff" />
                    </div>
                    Application support
                </dt>
                <dd class="mt-2 text-base leading-7 text-gray-600">
                    blendOS offers support for applications and binaries from several distributions and Android,
                    without the fear of breaking your system through the use of <b>podman</b> containers.
                </dd>
            </div>
            <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 pl-2 pr-2 items-center justify-center rounded-lg bg-black fg-white">
                        <Icon name="icon-park-outline:config" color="#fff" />
                    </div>
                    Declarative
                </dt>
                <dd class="mt-2 text-base leading-7 text-gray-600">
                    blendOS v4 is fully declarative, allowing you to use custom packages, kernels, drivers and desktop environments on a minimal, atomic Arch Linux base system.
                </dd>
            </div>
            <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                    <div class="absolute left-0 top-0 flex h-10 w-10 pl-2 pr-2 items-center justify-center rounded-lg bg-black fg-white">
                        <Icon name="grommet-icons:update" color="#fff" />
                    </div>
                    Atomic updates
                </dt>
                <dd class="mt-2 text-base leading-7 text-gray-600">
                    Unlike most other operating systems,
                    blendOS ensures your system does not end up in a half-broken state
                    by replacing your old root filesystem with a new one cleanly.
                </dd>
            </div>
            <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                  <div class="absolute left-0 top-0 flex h-10 w-10 pl-1 pr-1 items-center justify-center rounded-lg bg-black fg-white">
                        <Icon name="mdi:user-outline" color="#fff" />
                    </div>
                    User-friendly
                </dt>
                <dd class="mt-2 text-base leading-7 text-gray-600">
                    Thanks to its immutable nature, blendOS prevents you from wrecking your system
                    by deleting all of your system directories, or worse, with a simple recursive remove operation.
                </dd>
            </div>
        </dl>
    </div>
</div>