---
interface Props {}

const {} = Astro.props;
---

<footer aria-labelledby="footer-heading" class="relative border-t border-gray-900/10 py-24 sm:py-32">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
        <img class="h-7" src="/logo-black.png" alt="Company name">
        <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
            <div class="md:grid md:grid-cols-2 md:gap-8">
                <div>
                    <h3 class="text-sm font-semibold leading-6 text-gray-900">Support</h3>
                    <ul role="list" class="mt-6 space-y-4">
                        <li>
                            <a href="https://twitter.com/blend_os" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Twitter/X</a>
                        </li>
                        <li>
                            <a href="https://discord.gg/fvMpV8ZNxD" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Discord</a>
                        </li>
                        <li>
                            <a href="https://t.me/blendos" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Telegram</a>
                        </li>
                    </ul>
                </div>
                <div class="mt-10 md:mt-0">
                    <h3 class="text-sm font-semibold leading-6 text-gray-900">Links</h3>
                    <ul role="list" class="mt-6 space-y-4">
                        <li>
                            <a href="/download" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Download</a>
                        </li>
                        <li>
                            <a href="https://blog.blendos.co" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
