---
interface Props {}

const {} = Astro.props;
---

<div class="">
    <div class="relative isolate overflow-hidden bg-gradient-to-b from-indigo-100/20">
        <div class="mx-auto max-w-7xl pb-24 pt-10 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:py-40">
            <div class="px-6 lg:px-0 lg:pt-4">
                <div class="mx-auto max-w-2xl">
                    <div class="max-w-lg">
                        <div class="mt-24 sm:mt-32 lg:mt-16">
                            <a href="https://github.com/blend-os" class="inline-flex space-x-6">
                                <span class="rounded-full bg-black/80 px-3 py-1 text-sm font-semibold leading-6 text-white ring-1 ring-inset ring-black">Source code</span>
                                <span class="inline-flex items-center space-x-2 text-sm font-medium leading-6 text-gray-600">
                                    <span>GitHub</span>
                                    <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                                         aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <h1 class="mt-10 text-4xl font-roboto tracking-tight text-gray-900 sm:text-6xl">
                            For a seamless, yet robust experience.
                        </h1>
                        <p class="mt-6 text-lg text-gray-600">blendOS allows you to have an <b>immutable</b>,
<b>atomic</b> and <b>declarative</b> Arch Linux system, with <b>application support</b> from several <b>Linux distributions</b> & <b>Android</b>.
                        <div class="mt-10 flex items-center gap-x-6">
                            <a href="/download"
                               class="rounded-md bg-white border border-black px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-black hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
                                Download
                            </a>
                            <a href="https://discord.gg/fvMpV8ZNxD" class="text-sm font-semibold leading-6 text-gray-900">Join the Discord server<span
                                    aria-hidden="true" class="px-1.5">→</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-20 sm:mt-24 md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0 lg:w-screen relative">
                <img class="md:rounded shadow-2xl"
                     src="/hero.png"/>

                <div class="absolute bottom-0 right-0 rounded-full m-6 pl-1 pr-4 py-1 bg-black bg-opacity-75 flex items-center shadow-2xl">
                    <img class="inline mr-2 h-9 w-9 rounded-full"
                         src="./blendos-logo.png"
                         alt="blendOS logo">
                    <div class="flex flex-col">
                        <span class="text-white text-sm font-roboto">blendOS</span>
                        <span class="text-gray-200 text-xs font-nunito">v3 (July 2023)</span>
                    </div>
                </div>

            </div>

        </div>
        <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
    </div>
</div>
