---
interface Props {}

const {} = Astro.props;
---
<div class="mx-auto max-w-7xl px-6 lg:px-8 text-center">
	<h2 class="text-base font-semibold leading-7">
		<span class="bg-black text-white px-4 py-1 rounded-full">Supported distributions</span>
    </h2>
    <div
            class="mx-auto grid max-w-lg grid-cols-4 mt-10 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5">
        <img class="col-span-2 max-h-16 w-full object-contain lg:col-span-1"
             src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Archlinux-logo-standard-version.png" alt="Arch">
        <img class="col-span-2 max-h-16 w-full object-contain lg:col-span-1"
             src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Fedora_logo.svg" alt="Fedora">
        <img class="col-span-2 max-h-16 w-full object-contain lg:col-span-1"
             src="https://upload.wikimedia.org/wikipedia/commons/7/76/Ubuntu-logo-2022.svg" alt="Ubuntu">
        <img class="col-span-2 max-h-16 w-full object-contain lg:col-span-1"
             src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Debian-OpenLogo.svg" alt="Debian">
        <img class="col-span-2 col-start-2 max-h-16 w-full object-contain sm:col-start-auto lg:col-span-1"
             src="https://upload.wikimedia.org/wikipedia/commons/4/4b/Kali_Linux_2.0_wordmark.svg" alt="Kali">
    </div>
    <div class="mt-8 flex justify-center">
        <p class="relative rounded-full px-4 py-1.5 text-sm leading-6 text-gray-600 ring-1 ring-inset ring-gray-900/10 hover:ring-gray-900/20">
            <span class="hidden md:inline">blendOS v4 has been announced.</span>
            <a href="https://blog.blendos.co/blendos-v4-alpha" class="font-semibold text-black">
                <span class="absolute inset-0" aria-hidden="true"></span>
                Learn more <span aria-hidden="true">&rarr;</span>
            </a>
        </p>
    </div>
</div>
